@media screen and (max-width: 768px) {
	.lg-react-element .animated-thumbnails-gallery {
		padding: 0px !important;
	}
}

.light-gallery-container {
	width: 100%;
	text-align: center;
	padding: 0px 20px 80px 20px;
}

.gallery-item img {
	padding-top: 5px !important;
	max-height: 125px;
}

.gallery-item img:hover {
	transform: none;
}

.gallery-item {
	margin: 10px !important;
}
