@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

@font-face {
	font-family: 'RowdiesLight';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/rowdies/Rowdies-Light.ttf?updatedAt=1761842644364') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rowdies';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/rowdies/Rowdies-Regular.ttf?updatedAt=1761842644404') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasDisplayThin';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/neue-haas-grotesk-display-pro/NeueHaasDisplayThin.ttf?updatedAt=1761842500422') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasDisplayThinItalic';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/neue-haas-grotesk-display-pro/NeueHaasDisplayThinItalic.ttf?updatedAt=1761842500468') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'ZaiOlivettiLettera22';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/zai-olivetti-lettera-22-typewriter/ZaiOlivettiLettera22Typewriter-rg5BK.ttf?updatedAt=1761842499351') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ZaiRoyalVogueTypewriter';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/zai-royal-vogue-typewriter-1929/ZaiRoyalVogueTypewriter1929-L3V1G.ttf?updatedAt=1761842499017') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Vardena';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/vardena/VardenaPersonalUsed-z8vnw.ttf?updatedAt=1761842499147') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ThoderanNotes';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/thoderan-notes/ThoderanNotes-vmPKO.ttf?updatedAt=1761842499958') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tenderness';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Other/tenderness-5/Tenderness.otf?updatedAt=1761842499472') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'EmpireColombia';
	src: url('https://ik.imagekit.io/t3aewf67s/fonts/Empireoflight/Colombia1/Colombia-Regular-Italic.ttf?updatedAt=1760629179094') format('truetype');
	font-weight: 400;
	font-style: italic;
}

* {
	font-family: 'ZaiOlivettiLettera22';
	font-weight: 200;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}
