.navbar-minimal {
  isolation: isolate;
}

.navbar-minimal .navbar-backdrop {
  position: absolute;
  inset: 0;
  height: 200%;
  border-radius: 4px;
  background: hsl(0 0% 100% / 0.1);
  pointer-events: none;
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(to bottom, black 0, black 50%, transparent 50%);
  z-index: -1;
}

.navbar-minimal .navbar-backdrop-edge {
  --thickness: 6px;
  position: absolute;
  inset: 0;
  height: 100%;
  transform: translateY(100%);
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(8px) brightness(120%);
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--thickness),
    transparent var(--thickness)
  );
  z-index: -1;
}
