.marquee-container {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	height: 100px;
}

@media screen and (max-width: 700px) {
	.marquee-container {
		height: 100px;
	}
}
